.login-container {
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px; 
}

.login-form {
  width: 100%;
  max-width: 400px; 
  padding: 30px;
}

.btn-custom-login {
  background-color: #15B7B9; 
  color: #fff;
  border-radius: 30px; 
  padding: 10px 0;
  border: none;
  transition: background-color 0.3s ease;
}

.btn-custom-login:hover {
  background-color: #027173; 
  color: #fff;
}

.btn-custom-login:active {
  background-color: #e7e7e7 !important; 
  color: #027173 !important; 
  border: none;
  box-shadow: none;
}

.isiformlogin {
    border-radius: 30px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding-right: 50px; 
    
}

.password-toggle {
    font-size: 20px;
    color: #6c757d;
    border-radius: 30px; 
    border: black; 
    background-color: black; 
    position: absolute;
}

.password-toggle:hover {
    color: #15B7B9;
}

.password-input {
    padding-right: 50px; 
}


.sigin-link:hover{
  color: #009d8a;
}

.iniformlogin .isiformlogin {
  padding-left: 25px;
  padding-right: 25px;
}

.iniformlogin .isiformlogin-password {
  padding-right: 50px;
  padding-left: 25px;
}

.verfif-otp{
  background-color: #15B7B9; 
  color: #fff;
  border: none;
}

.verfif-otp:hover {
  background-color: #027173 !important; 
  color: #fff;
}

.verfif-otp:active{
  background-color: #e7e7e7 !important; 
  color: #027173 !important; 
}

.budgetin-button-link{
  color: #15B7B9; 
}
.budgetin-button-link:hover{
  color: #027173
}

