#submit{
  background-color:#00b4b8;
  border: none;
  padding: 8px 25px; 
  border-radius: 30px; 
  font-size: large;
}

#submit:hover {
  background-color: #027173; 
  color: white;
}

.button-container {
  display: flex;
  justify-content: center;  
  align-items: center;            
}
