.button-edit-profile{
  background-color: #00b4b8;
  border: 0;
}

.button-edit-profile:hover{
  background-color: #027173;
  border: 0;
}

.button-edit-profile:active{
  background-color: #303030 !important;
  color: white !important;
}
  