.rencana-container {
  max-width: 100%; 
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-left: 0; 
  margin-right: 0; 
}

.rencana-form h1 {
  font-size: 2rem;
  margin-bottom: 50px;
  color: #000000;
}

.rencana-form label {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
  color: #030303;
}

.input-field {
  padding: 12px;
  font-weight: bold;
  font-size: 1rem;
  border: 2px solid #bdbdbd;
  border-radius: 30px;
  background-color: #ffffff;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.import-buttons {
  display: flex;
  gap: 10px; 
}

.import-buttons button {
  padding: 10px 20px;
  border-radius: 30px;
  border: none;
  background-color: #15B7B9; 
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.import-buttons button:hover {
  background-color: #138A8C; 
}

.confirm-button {
  padding: 10px 20px;
  border-radius: 30px;
  background-color: #138A8C; 
  color: white;
  border: none;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.confirm-button:hover {
  background-color: #138A8C 
}

@media (max-width: 768px) {
  .rencana-container {
    padding: 15px;
  }

  .rencana-form h1 {
    font-size: 1.5rem;
  }

  .import-buttons {
    flex-direction: column;
    align-items: stretch;
  }

  .import-buttons button {
    width: 100%;
  }

  .item-with-icon {
    display: flex;
    align-items: center;
  }
  
  .icon-image {
    width: 100px;
    height: 100px;
    margin-right: 4px;
  }
}
